<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>最新动态-菩萨在线</title>
<link href="../../css/base.css" type="text/css" rel="stylesheet" />
<link href="../../css/common.css" type="text/css" rel="stylesheet" />
<link href="../../css/pages.css" type="text/css" rel="stylesheet" />
</head>

<body class="pay">
<div id="container">
	<!--头部-->
	<div id="header">
    	<h1 class="logo">菩萨在线 www.pusazaixian.com</h1>
        <div class="headerLink">
        	<ul>
            	<li><a href="#">加入收藏</a></li>
                <li><a href="#">免费注册</a></li>
                <li><a href="#">用户登录</a></li>
            </ul>
        </div>
        <div class="nav">
        	<ul class="clearfix">
            	<li><a href="../index.html">网站首页</a></li>
                <li><a href="../buddha/index.html">网上礼佛</a></li>
                <li><a href="../temple/index.html">名山名寺</a></li>
                <li><a href="../memorial/index.html">纪念馆</a></li>
                <li><a href="../shop/index.html">祭品商店</a></li>
                <li><a href="../news/index.html">最新动态</a></li>
                <li><a href="../pay/index.html">充值提现</a></li>
                <li><a href="../admin/index.html">管理中心</a></li>
            </ul>
        </div>
    </div>
    <!--/头部-->
    
    <!--主体内容-->
    <div id="content">
    	<div class="row box clearfix">
        	<div class="note">
            	<p> 温馨提示：本网站内100金币=1元人民币，用户账户内金币满10000即100元人民币就可提现</p>
            </div>
            <div class="col fl">
            	<div class="cont">
                    <h3 class="subTitle">我要充值</h3>
                    <div class="money">
                        <p>你当前账户余额：3000金币（30元）</p>
                        <p>充值金额&nbsp;<input type="text" />&nbsp;元</p>
                    </div>
                    <div class="bank">
                    	<h3 class="subTitle">请选择充值方式</h3>
                        <ul class="clearfix">
                        	<li class="alipay"><label><input type="radio" /><span>支付宝</span></label></li>
                            <li class="cft"><label><input type="radio" /><span>财付通</span></label></li>
                            <li class="icbc"><label><input type="radio" /><span>工商银行</span></label></li>
                            <li class="boc"><label><input type="radio" /><span>中国银行</span></label></li>
                            <li class="abc"><label><input type="radio" /><span>农业银行</span></label></li>
                            <li class="ccb"><label><input type="radio" /><span>建设银行</span></label></li>
                            <li class="comm"><label><input type="radio" /><span>交通银行</span></label></li>
                            <li class="psbc"><label><input type="radio" /><span>邮政储蓄</span></label></li>
                            <li class="cmbc"><label><input type="radio" /><span>招商银行</span></label></li>
                            <li class="cib"><label><input type="radio" /><span>兴业银行</span></label></li>
                        </ul>
                    </div>
                    <p class="submitBar">
                    	<input class="btnPurple" type="submit" value="进入下一步" />
                    </p>
                </div>
            </div>
            <div class="col fr">
            	<div class="cont">
                    <h3 class="subTitle">我要提现</h3>
                    <div class="money">
                        <p>你当前账户余额：3000金币（30元）</p>
                        <p>可以提现：30元</p>
                        <p>提现&nbsp;<input type="text" />&nbsp;元</p>
                    </div>
                    <p class="submitBar">
                        <input class="btnPurple" type="submit" value="申请提现" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/主体内容-->
    
    <!--页脚-->
    <div id="footer">
    	<div class="footerNav">
        	<ul class="clearfix">
            	<li><a href="#">关于我们</a></li>
                <li><a href="#">网站动态</a></li>
                <li><a href="#">免责条款</a></li>
                <li><a href="#">广告服务</a></li>
                <li><a href="#">诚聘人才</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <div class="cpr">
        	<p>粤ICP备075612345678号．版权所有：菩萨在线网</p>
        </div>
    </div>
    <!--/页脚-->
</div>
</body>
</html>
