<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>祭品商店-菩萨在线</title>
<link href="../../css/base.css" type="text/css" rel="stylesheet" />
<link href="../../css/common.css" type="text/css" rel="stylesheet" />
<link href="../../css/pages.css" type="text/css" rel="stylesheet" />
</head>

<body class="shop">
<div id="container">
	<!--头部-->
	<div id="header">
    	<h1 class="logo">菩萨在线 www.pusazaixian.com</h1>
        <div class="headerLink">
        	<ul>
            	<li><a href="#">加入收藏</a></li>
                <li><a href="#">免费注册</a></li>
                <li><a href="#">用户登录</a></li>
            </ul>
        </div>
        <div class="nav">
        	<ul class="clearfix">
            	<li><a href="../index.html">网站首页</a></li>
                <li><a href="../buddha/index.html">网上礼佛</a></li>
                <li><a href="../temple/index.html">名山名寺</a></li>
                <li><a href="../memorial/index.html">纪念馆</a></li>
                <li><a href="../shop/index.html">祭品商店</a></li>
                <li><a href="../news/index.html">最新动态</a></li>
                <li><a href="../pay/index.html">充值提现</a></li>
                <li><a href="../admin/index.html">管理中心</a></li>
            </ul>
        </div>
    </div>
    <!--/头部-->
    
    <!--主体内容-->
    <div id="content">
    	<div class="row clearfix">
        	<div class="main fl">
            	<div class="banner">
                	<img src="#" />
                </div>
            </div>
            <div class="side fr box">
            	<div class="cont">
                	<div class="bannerTip"></div>
                    <div class="bannerNote"></div>
                </div>
            </div>
        </div>
        <div class="row box">
        	<div class="shopSort">
            	<a href="#">节日祭品</a>
                <a href="#">香烛烟花</a>
                <a href="#">鲜花盆景</a>
                <a href="#">食品水果</a>
                <a href="#">数码产品</a>
                <a href="#">家用电器</a>
                <a href="#">交通工具</a>
                <a href="#">休闲娱乐</a>
                <a href="#">儿童用品</a>
                <a href="#">学习用品</a>
                <a href="#">特色礼品</a>
                <a href="#">金银珠宝</a>
                <a href="#">服装衣帽</a>
                <a href="#">宠物宝贝</a>
                <a href="#">守护神兽</a>
                <a href="#">跪地拜祭</a>
                <a href="#">住房别墅</a>
                <a href="#">奢侈用品</a>
                <a href="#">文化音像</a>
                <a href="#">其它祭品</a>
            </div>
        	<div class="titleBar">
            	<a class="btnWhite" href="#">销量最多</a>
                <a class="btnWhite" href="#">价格最低</a>
                <a class="btnWhite" href="#">期限最长</a>
                <a class="btnWhite" href="#">最新创建</a>
                <div class="search fr">
                    <input type="text" />
                    <input class="btnPurple" type="submit" value="搜索">
                </div>
            </div>
            <div class="cont">
                <div class="pages">
                	<a href="#" class="disabled">首页</a>
                    <a href="#" class="disabled">上一页</a>
                    <a class="current" href="#?page=1">1</a>
                    <a href="#?page=2">2</a>
                    <a href="#?page=3">3</a>
                    ...
                    <a href="#">下一页</a>
                    <a href="#">末页</a>
                </div>
            	<div class="shopList">
                        <ul class="clearfix">
                            <li>
                            	<div class="shopList_img">
                                	<img src="#" />
                                </div>
                                <div class="shopList_info">
                                	<table>
                                    	<tr>
                                        	<td>名称：</td>
                                            <td>烧烤全鸡</td>
                                        </tr>
                                        <tr>
                                        	<td>价格：</td>
                                            <td>100金币</td>
                                        </tr>
                                        <tr>
                                        	<td>时间：</td>
                                            <td>10天</td>
                                        </tr>
                                        <tr>
                                        	<td colspan="2">
                                            	<a class="btnPurple" href="#">购买</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                            <li>
                            	<div class="shopList_img">
                                	<img src="#" />
                                </div>
                                <div class="shopList_info">
                                	<table>
                                    	<tr>
                                        	<td>名称：</td>
                                            <td>烧烤全鸡</td>
                                        </tr>
                                        <tr>
                                        	<td>价格：</td>
                                            <td>100金币</td>
                                        </tr>
                                        <tr>
                                        	<td>时间：</td>
                                            <td>10天</td>
                                        </tr>
                                        <tr>
                                        	<td colspan="2">
                                            	<a class="btnPurple" href="#">购买</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                <div class="pages">
                	<a href="#" class="disabled">首页</a>
                    <a href="#" class="disabled">上一页</a>
                    <a class="current" href="#?page=1">1</a>
                    <a href="#?page=2">2</a>
                    <a href="#?page=3">3</a>
                    ...
                    <a href="#">下一页</a>
                    <a href="#">末页</a>
                </div>
            </div>
        </div>
    </div>
    <!--/主体内容-->
    
    <!--页脚-->
    <div id="footer">
    	<div class="footerNav">
        	<ul class="clearfix">
            	<li><a href="#">关于我们</a></li>
                <li><a href="#">网站动态</a></li>
                <li><a href="#">免责条款</a></li>
                <li><a href="#">广告服务</a></li>
                <li><a href="#">诚聘人才</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <div class="cpr">
        	<p>粤ICP备075612345678号．版权所有：菩萨在线网</p>
        </div>
    </div>
    <!--/页脚-->
</div>
</body>
</html>
