@charset "utf-8";
#slides {
	position: absolute;
	z-index: 1;
	width:712px;
	height:352px;
}
.slides_container {
	width: 712px;
	height:352px;
	overflow: hidden;
	position: relative;
	display: none;
}
.slides_container a {
	width: 712px;
	height: 352px;
	display: block;
}
.pagination {
	position: absolute;
	bottom:0;
	z-index: 999;
	padding: 0 10px;
	padding-top: 3px;
	margin-left: 47%;	
	border-radius: 10px; 
	width: 72px;
	height: 14px;
}
.pagination li {
	float: left;
	margin: 0 4px;
}
.pagination li a {
	display: block;
	width: 10px;
	height: 0;
	padding-top: 10px;
	background: url(../images/pagination_1.png) 0 0;
	float: left;
	overflow: hidden;
}
.pagination li.current a {
	background-position: 0 -10px;
	_background-position: 0 -9px;
}

