<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理中心-菩萨在线</title>
<link href="../../css/base.css" type="text/css" rel="stylesheet" />
<link href="../../css/common.css" type="text/css" rel="stylesheet" />
<link href="../../css/pages.css" type="text/css" rel="stylesheet" />
</head>

<body class="admin">
<div id="container"> 
  <!--头部-->
  <div id="header">
    <h1 class="logo">菩萨在线 www.pusazaixian.com</h1>
    <div class="headerLink">
      <ul>
        <li><a href="#">加入收藏</a></li>
        <li><a href="#">免费注册</a></li>
        <li><a href="#">用户登录</a></li>
      </ul>
    </div>
    <div class="nav">
      <ul class="clearfix">
        <li><a href="../index.html">网站首页</a></li>
        <li><a href="../buddha/index.html">网上礼佛</a></li>
        <li><a href="../temple/index.html">名山名寺</a></li>
        <li><a href="../memorial/index.html">纪念馆</a></li>
        <li><a href="../shop/index.html">祭品商店</a></li>
        <li><a href="../news/index.html">最新动态</a></li>
        <li><a href="../pay/index.html">充值提现</a></li>
        <li><a href="../admin/index.html">管理中心</a></li>
      </ul>
    </div>
  </div>
  <!--/头部--> 
  
  <!--主体内容-->
  <div id="content">
    <div class="row clearfix">
      <div class="side box fl">
        <div class="titleBar">
          <h2 class="title">管理中心</h2>
        </div>
        <div class="cont">
          <div class="userIntro"> <img class="userIntro_photo" src="#" />
            <p class="userIntro_name">用户昵称</p>
            <div class="userIntro_admin">
                <p><a class="btnPurple" href="#">个人管理</a></p>
                <p><a class="btnPurple" href="#">网站管理</a></p>
            </div>
          </div>
          <div class="userMenu">
            <ul>
              <li><a class="btnGray" href="#">基本资料</a></li>
              <li><a class="btnGray" href="#">账户资料</a></li>
              <li><a class="btnGray" href="#">佛殿寺庙祭品管理</a></li>
              <li><a class="btnGray" href="#">纪念馆管理</a></li>
              <li><a class="btnGray" href="#">文章讣告管理</a></li>
              <li><a class="btnGray" href="#">佛殿寺庙纪念馆祭品审核</a></li>
              <li><a class="btnGray" href="#">文章讣告审核</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main box fr">
        <div class="cont">
          <div class="admin_temple_audit admin_box">
            <div class="subTitle">佛殿/寺庙/纪念馆/祭品审核</div>
            <div class="cont">
              <ul class="imgList clearfix">
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
               <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li>
                	<table>
                    	<tr>
                        	<td>
                            	<img src="#" />
                            </td>
                            <td>
                            	<a href="#">浏览</a>
                                <a href="#">同意</a>
                                <a href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                        	<td><p>名称</p></td>
                        	<td>&nbsp;</td>
                        </tr>
                    </table>
                </li>
                
              </ul>
				
            </div>
          </div>
          <div class="admin_shop_price admin_box">
            <div class="subTitle">祭品价格表</div>
            <div class="cont">
              <table class="table">
                <tr>
                  <td>序号</td>
                  <td>名称</td>
                  <td>图片</td>
                  <td>单价</td>
                  <td>有限期</td>
                  <td>修改/确认</td>
                </tr>
                <tr>
                	<td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><img src="#" /></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><a href="#">修改</a>/<a href="#">确认</a></td>
                </tr>
              </table>
              <div class="pages"> <a href="#" class="disabled">首页</a> <a href="#" class="disabled">上一页</a> <a class="current" href="#?page=1">1</a> <a href="#?page=2">2</a> <a href="#?page=3">3</a> ... <a href="#">下一页</a> <a href="#">末页</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/主体内容--> 
  
  <!--页脚-->
  <div id="footer">
    <div class="footerNav">
      <ul class="clearfix">
        <li><a href="#">关于我们</a></li>
        <li><a href="#">网站动态</a></li>
        <li><a href="#">免责条款</a></li>
        <li><a href="#">广告服务</a></li>
        <li><a href="#">诚聘人才</a></li>
        <li><a href="#">联系我们</a></li>
      </ul>
    </div>
    <div class="cpr">
      <p>粤ICP备075612345678号．版权所有：菩萨在线网</p>
    </div>
  </div>
  <!--/页脚--> 
</div>
</body>
</html>
